@charset "UTF-8";
#imageCard_img {
	width : 300px;
	height: auto;
}

#imageCard_color > div {
	float: left;
	width : 5px;
	height: 5px;
	padding: 5px;
	margin: 1 1 1 1;
}

/* 이미지 카드 리스트 */
#imageCardList {
	display: inline-block;	
}

#imageCardList > ul {
	list-style-type: none;
	align-items: center;
}
		
#imageCardList > ul > li {
	float: left;
}
			
