#wrapper{
	margin: 30px auto;
	width: 500px;
	height: 600px;
	background-color: #fff4e6;
	border: 1px solid gray;
	display: flex;
	align-items: center;
	justify-content:center;
	flex-direction: column;
}
span{
	margin: 20px;
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-family: serif;
	letter-spacing: 2px;
	color: #868e96;
}
